# Python / Backend
__pycache__/
*.pyc
.env
venv/
.venv/

#secret files
.streamlit/

# Node / Frontend
node_modules/
.next/
build/
dist/

# OS files
.DS_Store
Thumbs.db

#local testing files 
test_whisper.mp3
test_whisper.py